name: Companion Module Checks

on:
  workflow_call:
    inputs:
      repository-name:
        type: string
        description: "The name of the repository to clone (if not set, uses the caller repository)"
        required: false
        default: ${{ github.repository }}
      upload-artifact:
        type: boolean
        description: "Upload the package as an artifact"
        required: false
        default: false
      git-ref:
        type: string
        description: "The git ref to checkout (if not set uses the current)"
        required: false
        default: ""
      git-sha-check:
        type: string
        description: "If set, ensure the git sha matches this value"
        required: false
        default: ""
      prerelease:
        type: boolean
        description: "If set, this is a prerelease"
        required: false
        default: false
    outputs:
      package-file:
        description: "Filename of the produced package"
        value: ${{ jobs.package-module.outputs.package-file }}

jobs:
  package-module:
    name: Package module
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      packages: read

    outputs:
      package-file: ${{ steps.package.outputs.filename }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: ${{ inputs.repository-name }}
          persist-credentials: false
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ inputs.git-ref }}

      - name: Check module hash
        if: ${{ inputs.git-sha-check }}
        run: |
          GIT_HASH=$(git rev-parse HEAD)
          echo "Git sha: $GIT_HASH"
          if [ ! "$GIT_HASH" == "${{ inputs.git-sha-check }}" ]; then
            echo "Git sha does not match requested ref"
            exit 99
          fi

      - name: Determine nodejs version
        id: determine-nodejs
        shell: bash
        run: |
          NODE_VERSION=$(jq '.runtime.type' companion/manifest.json)
          echo "Node.js version: $NODE_VERSION"

          if [ "$NODE_VERSION" == "\"node18\"" ]; then
            echo "Using Node.js 18.x"
            echo "version=18.x" >> $GITHUB_OUTPUT
          elif [ "$NODE_VERSION" == "\"node22\"" ]; then
            echo "Using Node.js 22.x"
            echo "version=22.x" >> $GITHUB_OUTPUT
          fi

      - name: Use Node.js ${{ steps.determine-nodejs.outputs.version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ steps.determine-nodejs.outputs.version }}

      - name: Enable corepack
        shell: bash
        run: |
          corepack enable

      - name: Collect info
        shell: bash
        id: collect-info
        run: |
          MODULE_NAME="${{ inputs.repository-name }}"
          MODULE_NAME=$(basename $MODULE_NAME) # remove the owner from the repository name

          # determine the type, to be either connection (module) or surface
          if [[ "$MODULE_NAME" == companion-module-* ]]; then
            MODULE_TYPE="module"
          elif [[ "$MODULE_NAME" == companion-surface-* ]]; then
            MODULE_TYPE="surface"
          else
            echo "Unknown repository name format: $MODULE_NAME. Repository name must start with companion-module- or companion-surface-"
            exit 99
          fi

          MODULE_NAME=${MODULE_NAME#companion-module-} # remove the companion-module- prefix
          MODULE_NAME=${MODULE_NAME#companion-surface-} # remove the companion-surface- prefix

          echo "module-name=$MODULE_NAME" >> $GITHUB_OUTPUT
          echo "module-type=$MODULE_TYPE" >> $GITHUB_OUTPUT

          MANIFEST_ID=$(jq '.["id"]' companion/manifest.json)
          if [ ! "$MANIFEST_ID" == "\"${MODULE_NAME}\"" ]; then
            echo "Module manifest.json id does not match github repository name"
            exit 99
          fi

          IS_BUILDING_VERSION=""
          if [ ! -z "${{ inputs.git-ref }}" ]; then
            # is building a proper version, use the ref that was requested
            IS_BUILDING_VERSION="\"${{ inputs.git-ref }}\""
          elif [[ "${{ github.ref }}" == refs/tags/* ]]; then 
            IS_BUILDING_VERSION="${{ github.ref }}"
            IS_BUILDING_VERSION="\"${IS_BUILDING_VERSION#refs/tags/}\""
          fi

          if [ "$IS_BUILDING_VERSION" != "" ]; then
            PACKAGE_VERSION=$(jq '.["version"]' package.json)
            PACKAGE_VERSION_V=$(jq '"v"+ .["version"]' package.json)
            if [ ! "$PACKAGE_VERSION_V" == "${IS_BUILDING_VERSION}" ] && [ ! "$PACKAGE_VERSION" == "${IS_BUILDING_VERSION}" ]; then
              echo "Module package.json version does not match git ref"
              exit 99
            fi
          fi

          if grep -q "your-module-name" "companion/manifest.json"; then
            echo "Module manifest contains references to your-module-name!"
            exit 99
          fi

          if ! jq -e '.products | arrays and length > 0' companion/manifest.json > /dev/null; then
            echo "Module manifest product list is either empty or does not exist"
            exit 99
          fi

          if [[ "{{ github.repository }}" == companion-module-* ]] || [[ "{{ github.repository }}" == companion-surface-* ]]; then
            # only run this check when in modules
            if ! jq -e '.runtime.apiVersion === "0.0.0"' companion/manifest.json > /dev/null; then
              echo "Module manifest should have default 0.0.0 runtime.apiVersion"
              exit 99
            fi
          fi

          if [ ! -f companion/HELP.md ]; then
            echo "Module help file companion/HELP.md does not exist"
            exit 99
          fi

      - name: Setup Github packages auth
        shell: bash
        run: |
          # TODO: support yarn3 with something like (needs a syntax check)
          # yarn config set npmRegistries.//npm.pkg.github.com.npmAuthToken $NPM_AUTH_TOKEN

          echo "//npm.pkg.github.com/:_authToken=${{ github.token }}" >> ~/.npmrc

      - name: Prepare module
        shell: bash
        run: |
          yarn install

          # Some modules have a build script, but many do not
          if jq -e '.scripts.build' package.json > /dev/null; then 
            yarn run build
          fi

      - name: Package module
        id: package
        shell: bash
        run: |
          EXTRA_ARGS=""

          if [ ${{ inputs.prerelease }} == "true" ]; then
            EXTRA_ARGS="--prerelease"
          fi

          if [ "${{ steps.collect-info.outputs.module-type }}" == "surface" ]; then
            yarn companion-surface-build --output=pkg $EXTRA_ARGS
          elif [ "${{ steps.collect-info.outputs.module-type }}" == "module" ]; then
            yarn companion-module-build --output=pkg $EXTRA_ARGS
          else
            echo "Unknown module type '${{ steps.collect-info.outputs.module-type }}'"
            exit 99
          fi

      - name: Upload artifact
        if: ${{ inputs.upload-artifact }}
        uses: actions/upload-artifact@v5
        with:
          name: pkg
          path: "pkg.tgz"

      - name: Check module launches
        shell: bash
        timeout-minutes: 1
        run: |
          # note: this must be done after the artifact upload, to ensure it doesn't accidentally mangle the package
          # This isn't a nice check, and doesn't give a clean output, but hopefully this is enough to catch some issues

          RESULT=$(node pkg/main.js 2>&1)
          CODE=$?
          if [ $CODE -eq 0 ]; then
            echo "Module launched successfully"
          elif echo "$RESULT" | grep -q "Failed to startup module"; then
            # This means it is a connection, and the entrypoint was the cause of the exit
            echo "Module launched successfully"
          else
            echo "Module failed to launch:"
            echo "$RESULT"
            exit 99
          fi
